/*
I'm creating 4 different categories for my CSS -

1. Base
2. Layout
3. State
4. Navigation
*/

/* BASE */

p {
    margin-top: 50px;
    text-indent: 60px;
    margin-bottom: 100px;
}

h1 {
    font-size: 50px;
    color: #333;
    border-bottom-style: solid;
    border-bottom-color: #333;
    padding: 10px;
    padding-left: 15px;
}

body {
    margin: 0 auto;
    width: 92%;
    background-color: lightblue;
    font-size: 25px;
}

/* LAYOUT */

.belowPic {

}

.centerImage {
    display: block;
    margin: 0 auto;
    width: 100%;
}

/* STATE */

.menu li a:hover {
    background-color: #B4DCF5;
}

.menu .is-current { 
    background-color: #B4DCF5;
    color: #204861;
    }

/* NAVIGATION */

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #300;
    border-radius: 10px;
    text-align: left;
}

.menu li {
    float: left;
}

.menu li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
}